@import "tailwindcss";
@plugin "daisyui";

.active{
  background-color: rgba(211, 211, 211, 0.127);
  border: 1px solid #2424243c;
  font-weight: 600;
  
}
.active:hover{
  background-color: rgba(50, 50, 50, 0.159);
}